<div class="imagepost-centered">
	<header>
		<h1>Posts</h1>
	</header>
	<div id="image-info-container">
		<div id="image-title-container">
			<label for="image-title-label">{{currentPost.title}}</label>
		</div>

		<div id="image-author-container">
			<label for="image-author-label">{{currentPost.username}}</label>
		</div>

		<div id="image-time-container">
			<label for="image-time-label">{{currentPost.created}}</label>
		</div>

		<div id="image-description-container">
			<label id="image-description-label">{{currentPost.description}}</label>
		</div>

		<div id="image-post-container">
			<img id="image-post-image" src="/{{currentPost.photopath}}">
		</div>
	</div>
</div>